/* Navbar Style CSS ----------------------------------------------------------------------------- */
.navbar {
  width: 100%;
  background-color: white; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Make sure the navbar stays on top of other content */
}

.private-navbar {
  width: 100%;
  background-color: white; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.private-navbar-container {
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: 700;
}

.navbar-link:hover {
  color: #007bff; /* Change color on hover */
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
}

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-button {
  background-color: #2462ea;
  color: white;
}

.logout-button {
  background-color: #f44336;
  color: white;
}

.main-content {
  display: flex;
  flex-grow: 1;
}
